<mat-toolbar class="d-flex justify-content-between">
    <div >
        <button matIconButton (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
    </div>
    <span class="example-spacer"></span>
    <div>
        <button matIconButton class="example-icon favorite-icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button matIconButton (click)="closeSession()">
            <mat-icon>close</mat-icon>
        </button>
        <span>{{ expiration() }}</span>
        <!-- Theme selector begins -->
        <button matIconButton [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            @for (theme of themes; track theme) {
            <button mat-menu-item (click)="switchTheme(theme)">
                <mat-radio-button [checked]="theme === currentTheme()"></mat-radio-button>
                <span>{{theme}}</span>
            </button>
            }
        </mat-menu>
        <!-- Theme selector ends -->
    </div>

</mat-toolbar>


<mat-sidenav-container class="example-container-" (backdropClick)="close('backdrop')" style="height: 90%;">

    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose [mode]="'over'">
        <mat-nav-list>
            @for (link of list; track link) {
            <a mat-list-item [activated]="link.isActive" (click)="goToLink(link.route)">{{ link.name }}</a>
            }
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

        <router-outlet />

    </mat-sidenav-content>
</mat-sidenav-container>




<div class="d-flex justify-content-end">

</div>