@use '@angular/material' as mat;


.light-theme {

  @include mat.theme((color: (primary: mat.$rose-palette,
        tertiary: mat.$orange-palette,
        theme-type: light,
      ),
      typography: Arial,
      density: 0,
    ));
}